@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

.TitleLib{
 width: 700px;
height: 150px;
opacity: 1;
margin:80px;
padding-top: 30px;
font-family: 'Manrope';
font-weight: 800;
font-size: 62px;
line-height: 70px;
letter-spacing: -5%;
background: linear-gradient(89.97deg, #AE67FA 1.84%, #F49867 102.67%);
-webkit-background-clip: text;
 background-clip: text;
  color: transparent;



}
@media screen and (max-width: 900px) {
  
.TitleLib{
  width: 450px;

margin-left:auto;
margin-right: auto;
padding-left:30px;
padding-right: 30px;
padding-top: 30px;
font-family: 'Manrope';
font-weight: 800;
font-size: 35px;
line-height: 50px;
background: linear-gradient(89.97deg, #AE67FA 1.84%, #F49867 102.67%);
-webkit-background-clip: text;
 background-clip: text;
  color: transparent;



}
}